
@font-face {
    font-family: "Inika";
     src: url("assets/fonts/Inika/Inika-Regular.ttf");
     font-style: normal;
     font-weight: 400;
   }

@font-face {
    font-family: "Inika";
     src: url("assets/fonts/Inika/Inika-Bold.ttf");
     font-style: bold;
     font-weight: 700;
   }

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Inika", san-serif;
    background-color: #dabcda;
    line-height: 1.5;
    font-size: calc(1em + 0.5vw);
    min-height: 80vh;
    margin: 0;
    color: #000000;
}
.wrapper {
    width: 90%;
    margin: auto;
}
.bayan {
    width: 70%;
    margin: auto;
    cursor: pointer;
}

label {
    cursor: pointer;
    font-weight: bold;
}

h1, .container {
    border-bottom: 3px solid rgb(167, 154, 165);
}
h1 {
    margin-bottom: 0;
}

.container {
    padding: 10px;
}
.plus-close {
    width: 20px;
    height: 20px;
}
.plus {
    transform: translate(95%, -90%);
}





.item-input {
    appearance: none;
    width: 0;
    height: 0;
}
.item-input:checked + label {
    color: rgb(156, 161, 161);
    font-weight: bold;
}
.item-input:checked ~ label > div.mem-contr {
    display: block;
}
.item-input:checked ~ label > div.plus > img {
    transform: rotate(45deg); 
}

.item-input:hover ~ label > div.mem-contr {
    display: block;
}

.item-input:hover ~ label > div.plus > img {
    transform: rotate(45deg); 
}


.mem-contr {
    width: 60%;
    height: 100%;
    margin: auto;
    border: 3px solid rgb(167, 154, 165);
    background-color: rgb(194, 192, 192);
    display: none;
}
.img1 {
    background: url("assets/img/1.png") no-repeat center;
    width: 100%;
    height: 300px;
}
.img2 {
    background: url("assets/img/2.png")no-repeat center;
    width: 100%;
    height: 300px;
}
.img3 {
    background: url("assets/img/3.png") no-repeat center;
    width: 100%;
    height: 300px;
}
.img4 {
    background: url("assets/img/4.png") no-repeat center;
    width: 100%;
    height: 300px;
}
.img5 {
    background: url("assets/img/5.png") no-repeat center;
    width: 100%;
    height: 300px;
}



